.item h2{
    color: white;
}
.item p {
    color:white;
}
.container{
    position: relative;
    width: 100%;
    height: 670px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.header h4 {
    color: white;
}
.text-box label {
    width: 95%;
}
#ILO {
    background-color: green;
    color: white;
}
#OBA {
    background-color: blue;
    color: white;
}

#TAL {
    background-color: red;
    color: white;
}
.ok {
    width: 100% !important;
    height: 50%;
}
.text-box p{
    color:white;
}