body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}
h4{
    color: white;
    letter-spacing: 2px;
}
button{

    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 10px;
}
.container{
    position: relative;
    width: 100%;
    height: 670px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.col-left,.col-right{

    transition: 0.5s;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid white;
    height: 600px;
    z-index:2;

}
.col-left{
    animation-name: animation-col-left;
    animation-duration: 1s;
    transition: 1s;

}
.col-right{
    animation-name: animation-col-right;
    animation-duration: 1s;
    transition: 1s;
}
@keyframes animation-col-right {
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes animation-col-left  {
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.top-left{
    margin-top: 10px;
    margin-left: 50px;
    border:3px solid darkred ;
    width: 80%;
    height: 45%;
    background: whitesmoke;


}
.bottom-left{
    margin-top: 5px;
    margin-left: 50px;
    height: 45%;
    width: 80%;
    border: 3px solid darkred;
    background: whitesmoke;
}

.top-left ul{
    color: white;
    margin-top: 10%;
    margin-left: 20%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 47%;
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.8;


}
.top-left ul:hover{
    opacity: 1;
}
.top-left ul li{

    text-align: left;
    list-style: none;
    border-bottom: 1px solid white;

}
.top-left ul li a{
    color: white;
    text-decoration: none;
}
.text-head{
    position: relative;
    text-align: center;
    width: 100%;
    background: #2C5364;
    color: white;
}

.text-box{
    position: relative;
    height: 500px;
    background: white;
    transition: 0.3s;
}
.text-box-1{
    height: 350px;
}
.text-box-2{
    height: 200px;
}
.text-box textarea{
    position: absolute;
    resize: none;
    height: 100%;
    width: 100%;

}

.after-click{
    border-top: 1px solid white;
    height: 100px;
    width: 100%;

}
.outcome{
    position: relative;

}
.teaching{
    position: relative;
}
.out-text,.teach-text{
    display: none;
    resize: none;
    width: 100%;
    height: 150px;
}
.show-out-text{
    display: block;
}
.show-teaching{
    display: block;
}
.outcome-textarea,.teach-textarea{
    position: absolute;
    height: 80%;
    width: 100%;
    resize: none;
    display: block;
    outline: none;

}
.outcome span i, .teaching span i{

    float: right;
    margin-right: 10px;
    transition: 0.2s;

}
.outcome span i:hover, .teaching span i:hover{
    transform: scaleX(1.5);
    color: #1b4b72;

}
.display-text{
    visibility: visible;
}
ul li a{
    cursor: pointer;
}
select option{
    cursor: pointer;
}
.template2TextOutCome{
    transition: 0.5s;
    transform: translateY(-180px);
    height: 100px;

}
.listMethod-3{
    width: 180px !important;
}
.listMethod-2{
    width: 220px !important;
}
#listExample{
    position: relative;
    left: -25px;

}
#listExample li{
    line-height: 12px;
}
.copy-print{
    float:right;
}
input.btn-outline-warning {
    position: relative;
    top: 5px;
}
.box-copy{
    position: absolute;
    transition: 0.5s;
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid;
    top: 15%;
    left: 36%;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}
.bg-cover{
    position: absolute;
    transition: 0.5s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#0F2027;
    opacity: 0;
    visibility: hidden;
    z-index: 3;

}
.show-bg-cover{
    opacity: 0.7;
    visibility: visible;
}
.show-box-copy{
    opacity: 1;
    visibility: visible;

}
.copy-head{
    color: white;
    height: 30px;
    line-height: 30px;
}
.copy-result{
    margin-top: 20px;
    margin-left: 7%;
    width: 86%;
    height: 80%;
    border: 1px solid;
    overflow: auto;
}

.copy-ilo{
    margin-bottom: 30%;
}
.copy-oba{
    margin-bottom: 30%;
}
.text-copy-ilo{

}
#close{
    position: absolute;
    top: 1%;
    left: 90%;
}
#close:hover{
    cursor: pointer;
}
@media screen and (max-width:420px){

    button{
        margin: 5px;
        border-radius: 10px;

    }
    .container{
        height: 800px !important;
    }
    #descriptionLevel{
        position: relative;
        top: -20px !important;
        font-size: 10px;
    }
    .top-left ul{
        position: relative;
        transform: scale(2);

    }
    .top-left,.bottom-left{
        margin-left: 0 !important;
        width: 100% !important;
    }

    #title,#example{
        font-size: 13px !important;
    }
    #descExample,#desTitle{
        font-size: 10px !important;
    }
    @media (min-width: 576px){
        .container {
            max-width: 100%;
        }
    }
}
    @media  screen and (max-width: 800px) {
        button{
            margin: 5px;
            border-radius: 10px;

        }
        .container{
            width: 200% !important;
            height: 700px;
        }
        .top-left ul{
            position: relative;
            top: -20%;
            transform: scale(0.7);
        }
        .top-left,.bottom-left{
            margin-left: -15px;
            width: 110%;
        }
        #descriptionLevel{
            position: relative;
            top: -34%;
            font-size: 10px;
        }
        #title,#example{
            font-size: 13px !important;
        }
        #descExample,#desTitle{
            font-size: 10px !important;
        }
        @media (min-width: 576px){
            .container {
                max-width: 100%;
            }
        }

}
