body{
    margin: 0;
    padding: 0;
    font-family: monospace;


}
.img-uet {}

.box-login {
    position: relative;
    border-radius: 20px;
    margin-top: 7%;
    margin-left: 38%;
    width: 340px;
    height: 470px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #2a434c, #347792);





}

.img-uet {
    position: absolute;
    top: 0;
    width: 100%;
    height: 24%;
    border-bottom: 1px solid white;
}

.form-login {
    position: absolute;
    top: 12%;
    width: 100%;
    height: 80%;
    z-index: 1;
}
.bg{
    position: absolute;
    left: 5%;
    top: 20%;
    opacity: 0.7;
    z-index: 0;
}
.text-head {
    text-align: center;
    color: white;
    margin-bottom: 10%;
    font-size: 30px;
    border-bottom: 1px solid white;
    width: 25%;
}



.text-head {}

.email {
    margin-bottom: 50px;
}


.submit {
    position: absolute;
    top: 89%;
    left: 31%;
    width: 130px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1b2d3c, #1f3c46, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.email {
    position: absolute;
    top: 33%;
    width: 100%;
}

.password {
    position: absolute;
    top: 57%;
    width: 100%;
}

input#email {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid white;
}

input[type="password"] {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid white;
}

.email span {
    /* position: relative; */
    /* top: 3%; */

    position: absolute;
    color: white;
    font-size: 15px;
}

.password span {
    position: absolute;
    color: white;
    font-size: 15px;
}
